<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile (JR templating)</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"
            integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

</head>
<body>
<script type="text/html" id="user">
    <header>
        <h1><%= name %></h1>
        <img src="<%=photo%>" alt="my photo" title="Это я" class="avatar">
        <p><%=status%></p>
    </header>
    <section class="info">
        <h2>Хочу учить фронтенд, потому что:</h2>
        <ul class="why">
            <% for(var i=0; i< objectives.length; i++){ %>
            <li>
                <%= objectives[i] %>
            </li>
            <% }; %>
        </ul>
    </section>
    <section class="contact">
        <p>Мой контактный телефон:</p>
        <p><%=phone%></p>
        <p>Мой профиль вконтакте:</p>
        <p><a href="<%=vk%>">vk.com</a></p>
    </section>
    <footer>
        <p>Мой фидбэк:</p>
        <p><%=feedback%></p>
    </footer>
</script>
<script src="js/jr-tmpl.js"></script>
<script src="js/profile.js"></script>
<script>
    var results = document.body;
    results.innerHTML = tmpl("user", profile);
</script>
</body>
</html>